## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Visual Studio
.vs/

## Logs
*.log

## Test
TestResults/

## OS
.DS_Store
Thumbs.db

**/bin/
**/obj/
